<%= content_tag :td, class: "w-[15rem] #{classes} #{"bg-pastel-red/20" if is_holiday?(day) || day.wday.zero?} #{"disabled" unless is_date_part_of_view}" do %>
  <%= yield %>
  <% if is_date_part_of_view %>
    <%= link_to day, daily_index_working_times_path(day: day), class:"button button-secondary button-full" %>
    <div class="flex items-center justify-center mt-2">
      <div class="text-sm font-bold mr-4">
        <%= t("total_sum") %>
      </div>
      <div class="text-sm font-semibold">
        <%= total_sum(events) %>
      </div>
    </div>
    <%= link_to t("new"), new_working_time_path(date: day), class: "button button-primary button-full mt-4" %>
    <% if is_holiday?(day) %>
      <div class="bg-white flex items-center justify-center rounded-lg p-2 h-12 mt-4">
        <div class="text-sm font-normal text-pastel-red/50 p-2">
          <%=  holiday_name(day) %>
        </div>
      </div>
    <% else %>
      <div class="h-12 m-4 flex items-center justify-center">
        -
      </div>
    <% end %>
    <% if action_name == "weekly_index" %>
      <div class="overflow-scroll h-[10vh]">
        <%= render partial: "working_times/events", locals: { events: events, classes: "text-xs grid grid-cols-3 gap-2" } %>
      </div>
    <% end %>
  <% else %>
    <div class="flex items-center justify-center mt-2">
      <div class="text-sm font-bold mr-4">
        <%= day %>
      </div>
    </div>
  <% end %>
<% end %>