<div class="p-2 grid grid-cols-8 m-4">
  <div class="col-span-2 flex items-center justify-center">
    <div class="text-lg font-bold mr-4">
      <%= t("total_sum") %>:
    </div>
    <div class="text-lg font-semibold">
      <%= t("hour", hour: total_sum(events)) %>
    </div>
  </div>
  <div class="col-span-2 flex items-center justify-center">
    <div class="text-lg font-bold mr-4">
      <%= t("working_day") %>:
    </div>
    <div class="text-lg font-semibold">
      <%= t("hour", hour: total_sum(events.select { |event| !event.not_working_day? })) %>
    </div>
  </div>
  <div class="col-span-2 flex items-center justify-center">
    <div class="text-lg font-bold mr-4">
      <%= t("weekend_or_holiday") %>:
    </div>
    <div class="text-lg font-semibold mr-4">
      <%= t("hour", hour: total_sum(events.select { |event| event.not_working_day? })) %>
    </div>
  </div>
  <div class="col-span-2 flex items-center justify-center">
    <div class="text-lg font-bold mr-4">
      <%= t("capacity") %>:
    </div>
    <div class="text-lg font-semibold">
      <%= get_capacity(events, action_name) %>%
    </div>
  </div>
</div>