<div id="<%= dom_id working_time %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= working_time.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= working_time.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= working_time.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= working_time.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= working_time.description %>
  </p>

</div>
